# --- Taarifa Application Environment Blueprint ---
DEBUG=False
DJANGO_SECRET_KEY=
ALLOWED_HOSTS=api.taarifa.xyz,localhost,127.0.0.1

# --- Infrastructure Storage Settings ---
DB_NAME=taarifa_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=
DB_PORT=5432